<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">

<head>
    <title>Detalhes do Corretor</title>
</head>

<body>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle" id="profile-user-img"
                                        alt="User profile picture">
                                </div>
                                <h3 class="profile-username text-center" th:text="${corretor.nome}">Ayrton Senna</h3>
                                <p class="text-muted text-center" th:text="${corretor.usuario}">Administrador</p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- About Me Box -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Dados Pessoais</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong><i class="fas fa-envelope mr-1"></i> E-mail</strong>
                                <p class="text-muted" id="email" th:text="${corretor.email}">nina@mail.com</p>
                                <hr>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </main>
    <th:block th:fragment="scripts">
        <script th:src="@{/js/avatar.min.js}"></script>
        <script>
            const email = document.getElementById("email").innerText;
            const avatar = Avatar.from(document.getElementById('profile-user-img'), {
                'email': email
            });
        </script>
    </th:block>
</body>

</html>